@model PWBackend.EmployeeJob

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeJob</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmpNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobsAssigned.AssignJOBNUM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobsAssigned.AssignJOBNUM)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeJOBSID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
