@model PWBackend.Fleet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fleet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FLEETNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLEETNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLEETName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLEETName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLEETDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLEETDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLEETRego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLEETRego)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FLEETID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
